<!-- update.html -->
{% extends "layout.html" %}
{% block content %}
    <h1>Atualizar Tarefa</h1>

    <a href="{{ url_for('home') }}" class="button">Início</a>

    <form action="{{ url_for('tasks.update', id=task.id) }}" method="POST">
        <label for="date">Data:</label>
        <input type="date" id="date" name="date" value="{{ task.date.strftime('%Y-%m-%d') }}" required><br>

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" value="{{ task.tipo }}" required placeholder="LATERAL"><br>

        <label for="uf">UF:</label>
        <input type="text" id="uf" name="uf" value="{{ task.uf }}" required placeholder="PI"><br>

        <label for="gra">GRA:</label>
        <input type="text" id="gra" name="gra" value="{{ task.gra }}" required placeholder="PCZ"><br>

        <label for="loc">LOC:</label>
        <input type="text" id="loc" name="loc" value="{{ task.loc }}" required placeholder="PCZ ou SPI"><br>

        <label for="estacao">Estação:</label>
        <input type="text" id="estacao" name="estacao" value="{{ task.estacao }}" required placeholder="PCZ ou SPI"><br>

        <label for="ard">ARD:</label>
        <input type="text" id="ard" name="ard" value="{{ task.ard }}" required placeholder="CA ou SD"><br>

        <label for="team">Equipe:</label>
        <input type="text" id="team" name="team" value="{{ task.team }}" required placeholder="Nome + Sobrenome"><br>

        <label for="dc">DC:</label>
        <input type="text" id="dc" name="dc" value="{{ task.dc }}" required placeholder="0000"><br>

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" value="{{ task.status }}" required placeholder="Em andamento ou Concluído"><br>

        <label for="ca20">CA20:</label>
        <input type="number" id="ca20" name="ca20" value="{{ task.ca20 }}" required placeholder="Insira um valor numérico"><br>

        <label for="ca50">CA50:</label>
        <input type="number" id="ca50" name="ca50" value="{{ task.ca50 }}" required placeholder="Insira um valor numérico"><br>

        <label for="ca100">CA100:</label>
        <input type="number" id="ca100" name="ca100" value="{{ task.ca100 }}" required placeholder="Insira um valor numérico"><br>

        <label for="ca200">CA200:</label>
        <input type="number" id="ca200" name="ca200" value="{{ task.ca200 }}" required placeholder="Insira um valor numérico"><br>

        <button type="submit">Atualizar Tarefa</button>
    </form>
{% endblock %}

